$containerWidth: 1100px;
$baseFontSize: 18px;

//breakpoints

$tablets: 768px;
$phones: 480px;

//colors
$blue: #61c4d9;
$darkGreen: #0b4d3c;
$black: #000;
$grey: #666;
$lightgrey: #f8faf9;


//z-indexes

$z-fixed-menu: 100;

@import "media";

//normilize
@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css";

//setups
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,300;0,400;0,700;1,400&display=swap');
@import "layout";


//components
@import "components/hero";
@import "components/header";
@import "components/feature";
@import "components/btn";
@import "components/section";
@import "components/headline";
@import "components/benefit";
@import "components/reviews";
@import "components/interactive-avatar";
@import "components/form";
@import "components/radio";
@import "components/fixed-menu";
@import "components/phone";
@import "components/menu";
@import "components/hamburger";
@import "components/map";
@import "components/footer";
@import "components/socials";
@import "components/team";
@import "components/slider";
@import "components/product";
@import "components/structure";
@import "components/modal";
