.benefit {
    text-align: center;
    color: $black;

    @include phones {
        display: flex;
        text-align: left;
    }

    &__text {

        @include phones {
            margin-left: rem(15px);
        }
    }

    &__title {
        font-size: rem(28px);
        font-weight: bold;
        margin-bottom: rem(10px);
    }

    &__desc {
        text-align: center;
        padding: 0 rem(15px);
        line-height: rem(22px);

        @include phones {
            text-align: left;
            padding: 0;
        }
    }
}

.benefit__image {
    margin-bottom: rem(20px);

    @include phones {
        margin-bottom: 0;
    }

    &-wrapper {
        display: inline-block;
        width: rem(126px);
        height: rem(126px);
        position: relative;
        background: #f2f5f4;
        border-radius: 50%;
        overflow: hidden;
    }
}

.benefit__icon {
    width: rem(75px);
    height: rem(69px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
}

.benefits {
    display: flex;
    padding: 0 5%;

    @include phones {
        flex-direction: column;
    }
}

.benefits__item {
    flex: 1;
    padding: 0 3%;
    position: relative;

    @include phones {
        padding: 0;
        margin-bottom: rem(45px);
    }

    &:before {
        content: url("../img/decor/separator.png");
        position: absolute;
        top: rem(30px);
        right: 0;
        transform: translateX(50%);

        @include phones {
            display: none;
        }
    }

    &:first-child {
        padding-left: 0;
    }

    &:last-child {
        padding-right: 0;

        &::before {
            display: none;
        }
    }
}

