.benefit {
    text-align: center;
    color: $black;

    &__title {
        font-size: 28px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    &__desc {
        text-align: center;
        padding: 0 15px;
        line-height: 22px;
    }
}

.benefit__image {
    margin-bottom: 20px;

    &-wrapper {
        display: inline-block;
        width: 126px;
        height: 126px;
        position: relative;
        background: #f2f5f4;
        border-radius: 50%;
        overflow: hidden;
    }
}

.benefit__icon {
    width: 75px;
    height: 69px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
}

.benefits {
    display: flex;
    padding: 0 5%
}

.benefits__item {
    flex: 1;
    padding: 0 3%;
    position: relative;

    &:before {
        content: url("../../img/decor/separator.png");
        position: absolute;
        top: 30px;
        right: 0;
        transform: translateX(50%);
    }

    &:first-child {
        padding-left: 0;
    }

    &:last-child {
        padding-right: 0;

        &::before {
            display: none;
        }
    }
}

