.benefits-section {
  position: relative;
  background: url("../../img/decor/side-leaf.png") left top 57% no-repeat;
}
.benefits-section:before {
  content: url("../../img/decor/bars-and-berries.png");
  position: absolute;
  bottom: -80px;
  left: 0;
}