.form {
    display: flex;

    @include tablets {
        flex-direction: column;
        padding: 0 14%;
    }

    &__btns {
        margin-top: rem(45px);
    }

}
.form__col {
    flex: 1;
    margin-right: rem(20px);

    &:last-child {
        margin-right: 0;
    }

    @include tablets {
        margin-right: 0;
    }
}

.form__row {
    display: flex;
    margin-bottom: rem(18px);

}

.form__block {
    flex: 1;
    margin-right: rem(20px);

    &:last-child {
        margin-right: 0;
    }
}

.form__input {
    width: 100%;
    border: none;
    padding: rem(16px) rem(11px);
    border: solid rem(3px) transparent;

    &--textarea {
        height: rem(180px);
        resize: none;

        @include tablets {
            height: rem(80px)
        }
    }

    &:focus {
        border-color:#dee2bd;
        outline: none;
    }

    @include tablets {
        padding: rem(5px) rem(11px);
    }
}

.form__controls {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: rem(10px);
}

.form__btns {
    display: flex;
    justify-content: center;
}