.hero {
    background: url("../img/decor/big-leaf.png") right bottom no-repeat;
    background-color: $blue;
    height: 100vh;
    min-height: 650px;
    color: #fff;
    position: relative;

    &:before {
        position: absolute;
        bottom: -40px;
        left: 2%;
        content: url("../img/decor/corner-leaf.png");
    }

    &:after {
        content: url("../img/decor/berry-and-leafs.png");
        position: absolute;
        bottom: -40px;
        right: 0;
    }
}

.hero__title-section {
    width: 46%;
}

.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 24px 0 45px 0;
    background: url("../img/decor/chocolates.png") right center / 50% auto no-repeat;
}

.hero__main-title {
    font-size: 48px;
    line-height: 1.2;
    font-weight: bold;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.hero__title-desc {
    font-size: 21px;
    margin-bottom: 25px;
    padding-right: 15%;
}