.hero {
    background: url("../img/decor/big-leaf.png") right bottom no-repeat;
    background-color: $blue;
    height: 100vh;
    min-height: rem(650px);
    color: #fff;
    position: relative;

    @include tablets {
        background-position: right bottom 90%;
    }

    &::before, &:after {
        @include tablets {
            display: none;
        }
    }

    &:before {
        position: absolute;
        bottom: rem(-40px);
        left: 2%;
        content: url("../img/decor/corner-leaf.png");
    }

    &:after {
        content: url("../img/decor/berry-and-leafs.png");
        position: absolute;
        bottom: rem(-40px);
        right: 0;
    }
}

.hero__title-section {
    width: 46%;

    @include tablets {
        width: 100%;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        &:before {
            content: url("../../img/decor/chocoberry.png");
            
            
        }
    }
}

.hero__icons-section {
    @include tablets {
        display: none;
    }
}

.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: rem(24px) 0 rem(45px) 0;
    background: url("../img/decor/chocolates.png") right center / 50% auto no-repeat;

    @include tablets {
        background: none;
    }

}


.hero__main-title {
    font-size: rem(48px);
    line-height: 1.2;
    font-weight: bold;
    margin-bottom: rem(5px);
    text-transform: uppercase;
}

.hero__title-desc {
    font-size: rem(21px);
    margin-bottom: rem(25px);
    padding-right: 10%;

    @include tablets {
        padding: 0 25%;
    }
}