.modal-menu {
  display: none;

  &__item {
    font-size: 36px;
  }

  &--fdirect--column {
    flex-direction: column;
    color: #fff;

  }

  
  &.fancybox-content {
    padding: 0 !important;
  }

  // .fancybox-button {
  //   // display: none;
  // }
}


.modal-menu__container {
  background-color: #333537;
  opacity: 0.99;
  padding: 35px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-menu__content {
  margin-bottom: 15px;
  color: #fff;
}
