.order-section {
    background: url(../../img/decor/pattern.png);

    &::before {
        content: url(../../img/decor/blueberry.png);
        position: absolute;
        bottom: 21%;
        left: 3%;
    }

    &::after {
        content: url(../../img/decor/leaf8.png);
        position: absolute;
        right: 5%;
        bottom: 20%;
    }
}