.popup {
  position: absolute;
  left: 454px;
  top: 0;
  flex-direction: column;
  display: none;
  background: white;
  color: #363636;
  padding: 24px 32px;
  border-radius: 4px;
  

  

  &__item {
    flex-direction: row;
    display: flex;
    margin-bottom: 14px;
    justify-content: space-between;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__pic {
    margin-right: 10px;
  }

  &__name {
    margin-right: 10px;
    flex: 1;
  }

}
