.product {
  display: flex;
  color: black;

  @include tablets {
    flex-direction: column;
  }

  &-slider {
    &__arrow {
      background: url(../img/icons/arrow.svg) center center no-repeat;
      background-size: contain;
      display: block;
      width: 7px;
      height: 13px;
      position: absolute;
      top:50%;
      z-index: 20;

      &--direction--prev {
        left:0;
        transform: rotate(-180deg);
      }

      &--direction--next {
        right:0;
      }
    }
  }


  &__img {
    margin: 0 auto;
    
  }

  &__specification {
    display: flex;
    flex-direction: column;

    @include tablets {
      align-items: center;
      text-align: center;
    }

  }

  &__order {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__structure-btn {
    background: $blue;
    padding: 10px 20px 5px 20px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 90px;
    color: white;
    margin-bottom: 26px;
    

    @include tablets {
      display: none;
    }
    
  }

  &__title {
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
  }

  &__desc {
    color: $grey;

    &__text {
      margin-bottom: 26px;
    }
  }

  &__price {
    font-size: 60px;
    margin-right: 32px;

  }
}

.product__structure-btn:hover .popup {
  display: flex;
  
}