.reviews-section {
    position: relative;
    background: url("../../img/decor/strawberry.png") right top no-repeat;

    &:before {
        content: url("../../img/decor/berryleaf.png");
        position: absolute;
        bottom: -80px;
        left: 0;
    }
}