.reviews {
    &__list {
        display: flex;
    }

    &__item {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: .3s;

        @include tablets {
            flex-direction: column;
            align-items: center;
        }
    }
}

.active {
    position: static;
    opacity: 1;
    pointer-events: unset;
}




.reviews__display {
    background: #f8faf9 url(../img/decor/drown-berries.png) right top no-repeat;
    padding: rem(50px) rem(45px) rem(34px);
    margin-bottom: rem(20px);
    overflow: hidden;
    position: relative;
    // min-height: 250px;

    &:before {
        content: "";
        display: block;
        width: rem(90px);
        height: rem(90px);
        background: #fff;
        border-radius: 50%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: rem(-65px);
    }
}

.reviews__display-inner {
    display: flex;
    background: #f8faf9 url(../img/decor/drown-berries.png) right top no-repeat;
    padding: rem(50px) rem(45px) rem(34px);
    margin-bottom: rem(20px);
    overflow: hidden;
    position: relative;
    min-height: 344px;

    @include tablets {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
}

.reviews__switcher {
    display: flex;
    justify-content: center;

    
}

.reviews__avatar {
    width: rem(254px);
    height: rem(260px);

    @include tablets {
        width: rem(130px);
        height: rem(132px);
    }
}

.reviews__avatar-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.reviews__content {
    flex: 1;
    margin-left: rem(20px);

    @include tablets {
        margin-left: 0;
    }
}

.reviews__title {
    font-size: rem(30px);
    font-weight: bold;
    margin-bottom: rem(22px);
    color: black;
}

.reviews__text {
    margin-bottom: rem(36px);
    padding-right: rem(135px);

    @include tablets {
        padding-right: 0;
    }
}

.reviews__author {
    font-size: rem(18px);
    font-weight: bold;
}
