.section {
    height: 100vh;
    min-height: rem(650px);
    display: flex;
    flex-direction: column;
    justify-content: center;

    &--font--color--green {
        color: $darkGreen;

        .section__title {
            color: inherit;
        }
    }
}

.section__title {
    font-size: rem(48px);
    font-weight: bold;
    margin-bottom: rem(60px);
    text-align: center;
    text-transform: uppercase;
    color: #000;
    
    &--margin--small {
        margin-bottom: rem(25px);
    }
}

.order-section {
    background: url(../img/decor/pattern.png);

    &::before {
        content: url(../img/decor/blueberry.png);
        position: absolute;
        bottom: 17%;
        left: 2%;
    }

    &::after {
        content: url(../img/decor/leaf8.png);
        position: absolute;
        right: 5%;
        bottom: 20%;
    }
}


.reviews-section {
    position: relative;
    background: url("../img/decor/strawberry.png") right 2% top no-repeat;

    &:before {
        content: url("../img/decor/berryleaf.png");
        position: absolute;
        bottom: rem(-80px);
        left: 0;
    }
}

.benefits-section {
    position: relative;
    background: url("../img/decor/side-leaf.png") left top 57% no-repeat;

    @include tablets {
        
        background-position: left top 12%;
    }

    &:before {
        content: url("../img/decor/bars-and-berries.png");
        position: absolute;
        bottom: rem(-80px);
        left: 0;
    }
}