.socials {
  display: flex;
 
}

.socials__list {
  display: flex;
  flex-direction: row;
}

.socials__link {
  display: flex;
  
}

.socials__item {
  margin-right: 15px;

  &:hover {
    opacity: 0.4;
    transition-duration: .5s;
  }

  &:last-child {
    margin-right: 0;
  }
}

.socials__pic {
  width: rem(25px);
  height: rem(25px);
  

  @include phones {
    width: rem(20px);
    height: rem(20px);
    margin-bottom: rem(10px);
  }
}